@import 'src/styles/constants.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/breakpoints.scss';
$monitor-img-width: 3406px;
$monitor-img-height: 597px;
$monitor-img-ratio: $monitor-img-height/$monitor-img-width;
//note: A lot of custom breakpoints have to be used because of all the elements

.root {
  background-image: linear-gradient($black, $purple);
  height: 100vh;

  p{
    font-size:0.8rem;
    line-height:1.8;
  }

  .monitor {
    bottom: 20px;
    z-index: 6;
    max-width: $monitor-img-width;
    //background-color:pink;
    //pointer-events: none;
  }

  .logo {
    z-index: 4;
    top: 105px;
    max-width: 100%;
  }

  i{
    height:5px;
    width:5px;
    z-index:25;
    background-color: green;
  }

  .carousel {
    z-index: 5;
    bottom: 278px;
    width: 616px;
    height: 278px;
    overflow: hidden;

    :global(.carousel-item) {
      bottom: 0;
      left: 0;
      width: 100%;
    }

    > div > div,
    > div,
    img {
      height: 100%;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  @include respond-below(md) {
    .monitor {
      bottom: 70px;
    }

    .logo {
      width: 340px;
      top: 110px;
    }
  }
  @include respond-below(sm) {
    height: calc(100vh - #{$navbarHeight});
    .monitor {
      width: 480vw;
      bottom: 240px;
      transform: translateY(19%);
    }

    i{
      bottom: 240px;
    }

    .logo {
      top: 45px;
    }

    h4 {
      font-size: 1.3rem;
    }

    p{
      line-height: 1.3rem;
    }
  }
  @include respond-below(xs) {
    .monitor {
      bottom: 320px;
    }

    .logo {
      top: 65px;
    }

    h4 {
      font-size: 1.2rem;
    }
  }
}

.wallShade {
  top: 0;
  z-index: 1;
  max-width: 100%;
}

.baseL1,
.baseL2 {
  top: 0;
  max-width: 65%;
}

.baseL1 {
  z-index: 3;
}

.baseL2 {
  z-index: 2;
}

.left {
  left: 0;
}

.right {
  right: 0;
  transform: scaleX(-1);
}

.desc {
  max-width: 600px;
}

.textContent {
  z-index: 7;
}
