@import 'src/styles/constants.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/breakpoints.scss';
$monitor-img-width: 3406px;
$monitor-img-height: 597px;
$monitor-img-ratio: calc(
  $monitor-img-height/$monitor-img-width
); //note: A lot of custom breakpoints have to be used because of all the elements

.root {
  background-image: linear-gradient($black, $purple);
  height: 100vh;
  min-height: 859px;
  max-height: 950px;

  .left {
    left: 0;
  }

  .right {
    right: 0;
    transform: scaleX(-1);
  }

  .baseL1,
  .baseL2 {
    top: 0;
    max-width: 50%;
  }

  .baseL2 {
    z-index: 2;
  }

  .baseL1 {
    z-index: 3;
  }

  .logo {
    z-index: 4;
    top: 105px;
    width: 420px;
    max-width: 100%;
  }

  .slideShow {
    z-index: 5;
  }

  .monitor {
    bottom: 133px;
    z-index: 6;
    transform: translateY(19%);
    pointer-events: none;
  }

  .extension {
    width: calc(((100% - $monitor-img-width) / 2) + 3px);
    bottom: 85px;
    height: 445px;
    background: {
      image: url('./images/repeat@1x.webp');
      image: image-set(
        url('./images/repeat@1x.webp') 1x,
        url('./images/repeat@2x.webp') 2x,
        url('./images/repeat@3x.webp') 3x,
        url('./images/repeat@4x.webp') 4x
      );
      repeat: repeat-x;
      position-x: right;
    }
    z-index: 6;
    @include respond-below($monitor-img-width) {
      display: none;
    }
  }

  .wallShade {
    top: 0;
    z-index: 1;
  }

  @media screen and (max-height: 900px) {
    .logo {
      top: 95px;
      width: 370px;
    }
  }
  @media screen and (max-height: 860px) {
    .logo {
      top: 70px;
    }
  }

  @include respond-below(992px) {
    .logo {
      width: 380px;
      top: 120px;
    }

    @media screen and (max-height: 900px) {
      .logo {
        width: 360px;
        top: 90px;
      }

      .baseL1,
      .baseL2 {
        max-width: 50%;
        max-height: 75%;
      }

      .left {
        left: -80px;
      }

      .right {
        right: -80px;
      }
    }
    @media screen and (max-height: 860px) {
      .logo {
        width: 350px;
        top: 80px;
      }
    }
  }

  @include respond-below(768px) {
    min-height: 914px;
    .monitor {
      width: 480vw;
      height: calc(480vw * $monitor-img-ratio);
      bottom: 190px;

      & > div {
        width: 100% !important;
        height: 100% !important;
      }
    }

    .logo {
      top: 60px;
      width: 350px;
    }

    .baseL1,
    .baseL2 {
      max-width: 45%;
    }

    .left {
      left: -50px;
    }

    .right {
      right: -50px;
    }

    @media screen and (max-height: 915px) {
      .logo {
        top: 50px;
      }

      .left {
        left: -80px;
      }

      .right {
        right: -80px;
      }
    }
  }

  @include respond-below(700px) {
    .logo {
      width: 360px;
      top: 100px;
    }
  }

  @include respond-below(576px) {
    min-height: 799px;
    max-height: 830px;

    .monitor {
      bottom: 180px;
    }

    .logo {
      width: 320px;
      top: 100px;
    }

    .baseL1,
    .baseL2 {
      max-width: 60%;
    }

    .left {
      left: -90px;
    }

    .right {
      right: -90px;
    }

    @media screen and (max-height: 800px) {
      .logo {
        top: 85px;
      }
    }
  }

  @include respond-below(480px) {
    max-height: 770px;
    min-height: 749px;

    .monitor {
      bottom: 225x;
    }

    .logo {
      top: 110px;
      width: 320px;
    }

    .baseL1,
    .baseL2 {
      max-width: 70%;
    }

    @media screen and (max-height: 750px) {
      .logo {
        top: 90px;
      }
    }
  }
  @include respond-below(420px) {
    min-height: 719px;
    max-height: 710px;

    .monitor {
      bottom: 200px;
    }

    .wallShade {
      max-height: 60%;
    }

    .logo {
      top: 90px;
    }

    @media screen and (max-height: 720px) {
      .logo {
        top: 90px;
      }
    }
  }
  @include respond-below(360px) {
    max-height: 670px;
    min-height: 659px;

    .logo {
      width: 280px;
      top: 90px;
    }

    @media screen and (max-height: 660px) {
      .logo {
        top: 85px;
      }
    }
  }
  @include respond-below(320px) {
    min-height: 595px;
    max-height: 610px;

    .logo {
      width: 230px;
      top: 80px;
    }

    .right {
      right: -60px;
    }

    .left {
      left: -60px;
    }

    .monitor {
      bottom: 190px;
    }
  }
}

.desc {
  max-width: 500px;
}

.textContent {
  z-index: 7;
}
