@import 'src/styles/colors.scss';

.socialLinkBig {
  color: $dark-blue;

  border: 1px solid $dark-blue;
  height: 38px;
  width: 38px;

  &:hover {
    background: rgba($dark-blue, 0.9);
    color: $white;
  }

  &:active {
    background: $dark-blue;
  }

  > svg {
    font-size: 1.3rem;
    @screen sm {
      font-size: 2em;
    }
  }

  @screen sm {
    height: 60px;
    width: 60px;
  }
}

.socialLinkSmall {
  color: $white;

  &:hover {
    color: rgba($dark-blue, 0.9);
  }

  &:active {
    color: $dark-blue;
  }

  &:last-of-type {
    margin-right: 0 !important;
  }

  & > svg {
    font-size: 1.3rem;
  }
}
