@import 'src/styles/colors.scss';

.socialLink > svg {
  transition-duration: 0.3s;
}

.socialLinkBig {
  @extend .socialLink;

  color: $white;

  border: 1px solid $white;
  height: 45px;
  width: 45px;

  &:hover {
    border-color: $red;

    > svg {
      filter: drop-shadow(3px 3px 0 rgba($red, 0.8));
      transform: rotate(7deg);
    }
  }

  &:active {
    > svg {
      filter: drop-shadow(3px 3px 0 $red);
    }
  }

  > svg {
    font-size: 1.7rem;
    @screen sm {
      font-size: 2em;
    }
  }

  @screen sm {
    height: 60px;
    width: 60px;
  }
}

.socialLinkSmall {
  @extend .socialLink;

  color: $white;

  &:hover {
    > svg {
      filter: drop-shadow(3px 3px 0 rgba($red, 0.8));
      transform: rotate(7deg);
    }
  }

  &:active {
    > svg {
      filter: drop-shadow(3px 3px 0 $red);
    }
  }

  & > svg {
    font-size: 1.8rem;
  }
}
