@import 'src/styles/colors.scss';

.socialLinkBig {
  color: $white;

  border: 1px solid $white;
  height: 38px;
  width: 38px;

  &:hover {
    border-color: $red;

    > svg {
      filter: drop-shadow(3px 3px 0 rgba($red, 0.8));
    }
  }

  &:active {
    > svg {
      filter: drop-shadow(3px 3px 0 $red);
    }
  }

  > svg {
    font-size: 1.3rem;
    @screen sm {
      font-size: 2em;
    }
  }

  @screen sm {
    height: 60px;
    width: 60px;
  }
}

.socialLinkSmall {
  color: $white;
  transition: filter 0.1s linear;

  &:hover {
    filter: drop-shadow(3px 3px 0 rgba($red, 0.8));
  }

  &:active {
    filter: drop-shadow(3px 3px 0 $red);
  }

  & > svg {
    font-size: 1.6rem;
  }
}
