$white: #fff;
$black: #000;
$light-blue: #8cd2f2;
$dark-blue: #03a6f8;
$bg-blue: #08466c;
$bg-blue-dark: #042538;
$purple: #1a0629;
$red: #ef3f3f;

.light-blue {
  color: $light-blue;
}

.dark-blue {
  color: $dark-blue;
}

.white {
  color: $white;
}
