@import 'src/styles/colors.scss';

$steam-background-color: #282e39;
$steam-border-color: #2d3139;

.root {
  background-image: linear-gradient($bg-blue, $bg-blue-dark);
}

.featureRow {
  color: $light-blue;
}

.widget {
  height: 190px;

  @media screen and (max-width: 420px) {
    height: 200px;
    margin: {
      left: -15px;
      right: -15px;
    }
  }

  @media screen and (max-width: 380px) {
    margin: {
      left: -18px;
      right: -18px;
    }
  }
}

.placeholder {
  height: 168px;
  background: $steam-background-color;
  border: 1px solid $steam-border-color;
}
