@import 'src/styles/_colors.scss';

.navBar {
  background: $black !important;
}

.navLink {
  color: $white !important;

  &:hover {
    color: $dark-blue !important;
  }
}

.socialLink {
  color: $white !important;

  &:hover {
    color: $dark-blue !important;
  }
}
