@import 'src/styles/colors.scss';
@import 'src/styles/breakpoints.scss';

.navBar {
  background: transparent!important;
  position:absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  @include respond-below(sm) {
    background: $black !important;
    position:relative;
  }
}

.navLink {
  color: $white !important;

  &:hover {
    color: rgba($dark-blue,0.9) !important;
  }

  &:active {
    color: $dark-blue !important;
  }
}

.socialLink {
  color: $white;

  &:hover {
    color: rgba($dark-blue,0.9);
  }

  &:active {
    color: $dark-blue;
  }

  &:last-of-type {
    margin-right: 0 !important;
  }

  & > svg {
    font-size: 1.3rem;
  }
}
