$duration: 1s;

.animImageInitial {
  opacity: 0;
}

.animImageFinal {
  opacity: 1;
}

.fadeAnim {
  transition: opacity $duration linear;
}

.fadeAnimDelay {
  transition: opacity $duration linear $duration;
}

.fadeAnimDoubleDelay {
  transition: opacity $duration linear $duration * 2;
}
