$duration: 1s;

.fadeAnim {
  transition: opacity $duration linear;
}

.fadeAnimDelay {
  transition: opacity $duration linear $duration;
}

.fadeAnimDoubleDelay {
  transition: opacity $duration linear $duration * 2;
}
