@import 'src/styles/colors.scss';
@import 'src/styles/constants.scss';

.paper {
  padding-top: $navbarHeight;
  background-color: $dark-blue;
  clip-path: polygon(10.5% 0, 100% 0, 100% 100%, 25% 100%);

  @screen sm {
    clip-path: polygon(6% 0, 100% 0, 100% 100%, 20% 100%);
  }

  @screen md {
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 20% 100%);
  }
}
